.container {
    width: 700px;
    display: flex;
    flex-direction: column;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

form span {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 8px;
}

form input,
form textarea {
    background-color: #17171A;
    border: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #252529;
}

textarea {
    resize: none;
}

form input {
    height: 40px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 36px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #17171A;
}

#enviar {
    background-color: #FF4D4D;
    color: #fff;
}

#enviar:hover {
    background-color: #E64545;
}

#cancelar {
    background-color: #333333;
    color: #fff;
}

#cancelar:hover {
    background-color: #4D4D4D;
}

.error {
    color: #ff0000;
}

button:disabled{
    background-color: #4D4D4D;
}